name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm run all
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
      - uses: actions/upload-artifact@v4
        with:
          name: action.yml
          path: action.yml
  test:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: action.yml
          path: .
      - uses: ./
        with:
          token: ${{ github.token }}
          trigger-labels: does-not-exist
          workflow: pull-requests-fail.yml
  package:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_KEY }}

      - uses: peter-evans/create-pull-request@bdffaf9259c0706e3d595d98e625dae435f46df9
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update distribution.
          title: Update distribution.
          body: |
            Update the distribution with changes in `main` branch.
          branch: update-distribution
